<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of customers</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-sm-5">
                    <h1>List of customers</h1>
                </div>
                <div class="col-sm-7">
                    <a href="/customers/create" class="btn btn-outline-light"><i class="fa fa-plus-square-o" aria-hidden="true"></i> <span>Add New Customer</span></a>
                    <a href="/transfers" class="btn btn-outline-light"><i class="fa fa-history" aria-hidden="true"></i> <span>Transfer money Information</span></a>
                </div>
            </div>
        </header>

        <div class="content">
            <table class="table table-hover">
                <thead>
                   <tr>
                       <th class="text-center">#</th>
                       <th class="text-center">Full Name</th>
                       <th class="text-center">Email</th>
                       <th class="text-center">Phone</th>
                       <th class="text-center">Address</th>
                       <th class="text-center">Balance</th>
                       <th colspan="5" class="text-center">Action</th>
                   </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>NVA</td>
                        <td>nva@co.cc</td>
                        <td class="text-center">2345</td>
                        <td>28 NTP</td>
                        <td class="text-end">0</td>
                        <td>
                            <button class="btn btn-outline-secondary">
                                Update
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-success">
                                Deposit
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-warning">
                                Withdraw
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-primary">
                                Transfer
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-danger">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <footer>

        </footer>
    </div>
</body>
</html>